// Datapath simulator
// 
// Program by Meire Wouter, Master student at ULB
// wmeire@ulb.ac.be
//
 
 ////////////////////Variables////////////////////

$left-spacing-reg:8.6em;

$reg-width: 6.25em;
$reg-height: 3.12em;

$first-reg-top: 4.44em;
$reg-top-increment: 3.11em;

$additional-left-spacing-reg: 3.375em;
$additional-reg-top: 35.8em;

$wrapper-width: 85em;


////////////////////Code////////////////////

body {
	background-color: white;
}

h1 {
	text-align: center;
	font-size: 2.5em;
}

h2 {
	text-align: left;
	padding-left: 2em;
	padding-top: 0em;
	padding-bottom: 0em;
	border: 0em;
	margin: 0em;
	font-size: 1.5em;
}

#Wrapper {
	background-color: lightblue;
	width: $wrapper-width;
	height: 55em;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	border: 0.3em solid black;
}

#Mic1_Wrapper {
	float: left;
	margin-right: auto;
	margin-left: auto;
	padding: 0.5% 0.5%;
	width: 34%;
}

#Right_Wrapper {
	float: right;
	margin-right: auto;
	margin-left: auto;
	padding: 0.5% 0.5%;
	width: 63%;
}

#Mic1_Image {
	margin-right: auto;
	margin-left: auto;
}

#Fetch_Image, #Write_Image, #Read_Image {
	width: 20%;
	float: right;
	display: none;
}

#Mic1_Display, #Microcode_Text, #Microprogram_Text, #Stack_Text,
#Home_Page, #microcodeForInstructions_Text, #ToolboxForm {
	background-color: white;
	padding: 2em;
	margin-right:auto;
	margin-left:auto;
	border: 0.3em solid black;
}

#Microcode_Text {
	height: 12em;
	overflow: scroll;
	line-height: 1.5em;
}

#Microprogram_Text, #Stack_Text {
	height: 10em;
	overflow-y: scroll;
	overflow-x: scroll;
	line-height: 1.5em;
}

#microcodeForInstructions_Text {
	height: 8em;
	overflow: scroll;
	line-height: 1.5em;
}

#MAR_Form {
	position: absolute;
	top: $first-reg-top;
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#MDR_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 1);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#PC_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 2);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#MBR_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 3);
	left: $left-spacing-reg + 1.325em;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#SP_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 4);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#LV_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 5);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#CPP_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 6);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#TOS_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 7);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#OPC_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 8);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#H_Form {
	position: absolute;
	top: $first-reg-top + ($reg-top-increment * 9);
	left: $left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#ALU_Form {
	position: absolute;
	top: $first-reg-top + $additional-reg-top;
	left: $left-spacing-reg + $additional-left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#Shifter_Form {
	position: absolute;
	top: $first-reg-top + $additional-reg-top + 5.3em;
	left: $left-spacing-reg + $additional-left-spacing-reg;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#Z_Form {
	position: absolute;
	top: $first-reg-top + $additional-reg-top;
	left: $left-spacing-reg + $additional-left-spacing-reg + 6em;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#N_Form {
	position: absolute;
	top: $first-reg-top + $additional-reg-top + ($reg-height / 2);
	left: $left-spacing-reg + $additional-left-spacing-reg + 6em;
	height: $reg-height;
	width: $reg-width;
	text-align: center;
}

#CBus {
	position: absolute;
	top: $first-reg-top + $additional-reg-top + 8.6em;
	left: $left-spacing-reg - 3em;	
}

#BBus {
	position: absolute;
	top: $first-reg-top + 0.3em;
	left: $left-spacing-reg + 8.2em;	
}

#Menu {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: $wrapper-width;
}

#Menu ul {
	text-align: center;
	display: inline;
	padding: 1em 0.25em 1em 0em;
}

#Menu ul li {
	font-weight: bold;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: white;
	cursor: pointer;
}

#Menu ul li:hover {
	background: lightblue;
	color: black;
}

#Menu ul li ul {
	padding: 0;
	position: absolute;
	top: 3em;
	left: 0;
	width: 8em;
	display: none;
	opacity: 0;
	visibility: hidden;
}

#Menu ul li ul li { 
	background: lightblue; 
	display: block; 
	color: black;
	z-index: 1;
}
#Menu ul li ul li:hover {
	background: white; 
}

#Menu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

.registerText {
	text-align: right;
	margin-bottom: 0.55em;
	letter-spacing:0.18em;
}

.displaySpacing{
	float: left;
	width: 8em;
}

.displaySpacingL{
	float: left;
	width: 24em;
}

#ControlPanel {
	display: inline;
}

#invalidInput {
	color: red;
	background-color: #FFFF66;
}

#Microcode, #Microprogram, #Stack, #microcodeForInstructions, #addInstruction-form, #microcodeCreationButtons,
#operationBrowsingButtons, #instructionOperationBrowsingButtons, #Toolbox {
	display: none;
}

button {
	font-size: 125%;
	font-family:"Times New Roman",Times,serif;
}

#credits {
	text-align: center;
	margin-top: 3em;
	line-height: 10%;
}

.largerBoldText {
	font-size:125%;
	font-weight:bold;
}